PORT=8000
MONGO_URI=mongodb://vishalsinghsuper:Optimist12345@ac-0veoia6-shard-00-00.lmc904a.mongodb.net:27017,ac-0veoia6-shard-00-01.lmc904a.mongodb.net:27017,ac-0veoia6-shard-00-02.lmc904a.mongodb.net:27017/?ssl=true&replicaSet=atlas-wp570s-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=mySuperSecretKey12345
JWT_EXPIRE=30d
FRONTEND_URL=http://80.225.195.25/ # Replace with your custom domain or Oracle Instance Public IP

# Nodemailer SMTP settings for email verification
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=vishalkumardal@gmail.com
SMTP_PASS=gbzm nxxb hqhg xbex
FROM_EMAIL=noreply@streakforge.app
